{% extends 'BackOfficeBundle::Internaute/read.html.twig' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="ui raised very padded text container segment">
		{{ form_start(form, {'attr':{'class':'ui form'}}) }}

		<h4 class="ui dividing header">Internaute</h4>
	  	
	  	<div class="two fields">
			<div class="field">
      		    {{ form_widget(form.nom, { 'attr': {'placeholder': "Nom"} }) }}
			</div>
        	<div class="field">
          		{{ form_widget(form.prenom, { 'attr': {'placeholder': "Prenom"} }) }}
       		</div>	     
		</div>
		
		<div class="two fields">
			<div class="field">
      		    {{ form_widget(form.tel, { 'attr': {'placeholder': "Tel"} }) }}
			</div>
        	<div class="field">
          		{{ form_widget(form.mail, { 'attr': {'placeholder': "Mail"} }) }}
       		</div>	     
		</div>

		<div class="two fields">
			<div class="field">
      		    <div class="ui fluid dropdown" >
      		    	<input name="voiture" type="hidden">
      		    	<div class="text">Modele</div>
      		    	<i class="dropdown icon"></i>
      		    	<div class="menu">
	      		    	{% for marque in form.marque.vars.choices %}
	        				<div class="item">
	        					<i class="dropdown icon"></i>
	        					<span class="text">{{ marque.label}}</span>
	        					<div class="menu">
            						{% for voiture in voitures %}
            							{% if marque.value == voiture.marque %}
            								<div value="{{voiture.id}}" class="item">{{voiture.modele}}</div>
            							{% endif %}
            						{% endfor %}
          						</div>
	        				</div>
	    				{% endfor %}
		    		</div>
      		    </div>
			</div>
			<div class="field">
          		{{ form_widget(form.ville, { 'attr': {'class':'ui fluid dropdown', 'placeholder': "Ville"} }) }}
       		</div>
		</div>

		<div class="ui buttons">
		<a href="{{ path('readInternaute') }}">{{ form_widget(form.cancel, {'attr':{'class':'ui button'}} ) }}</a>
			<div class="or"></div>
		 {{ form_widget(form.save, {'attr':{'class':'ui positive button'}} ) }}
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('.ui.dropdown')
  			.dropdown();
	</script>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}
