{% extends 'FrontOfficeBundle::Trajet/read.html.twig' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="ui raised very padded text container segment">

		{{ form_start(form, {'attr':{'class':'ui form'}}) }}

		<h4 class="ui dividing header">Supprimer trajet</h4>

	    <div class="ui buttons">
	    	<a href="{{ path('readTrajet') }}">{{ form_widget(form.cancel, {'attr':{'class':'ui button'}} ) }}</a>
	    	<div class="or"></div>
	    	{{ form_widget(form.delete, {'attr':{'class':'ui negative button'}} ) }}
	    </div>

		{{ form_end(form) }}
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}
