{% extends 'FrontOfficeBundle::Default/frontOffice.html.twig' %}
{% set current = 'Trajet' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}

{% if trajets == NULL %}
	<div class="ui raised very padded text container segment">
	  	<h2 class="ui header">Pas de trajet</h2>
	  	<a href="addTrajet">
			<div class="ui right floated small primary labeled icon button">
				<i class="plus icon"></i> Add Trajet
			</div>
		</a>
	</div>
{% else %}

	<div class="ui container segment">
		<form >
			<div class="ui input">
			  <input name="input_search" placeholder="Search..." type="text">
			</div>
			<div class="ui search selection dropdown">
			  <input name="filter" type="hidden">
			  <i class="dropdown icon"></i>
				<div class="default text">Filtre</div>
			  <div class="menu">
			    <div class="item" data-value="villeDep">Ville de départ</div>
			    <div class="item" data-value="villeArr">Ville d'arrivée</div>
					<div class="item" data-value="villeDepvilleArr">Ville de départ et d'arrivée</div>
			  </div>
			</div>
			<button type="submit" class="ui icon primary button"><i class="search icon"></i></button>
		</form>
		<a href="addTrajet">
			<div class="ui right floated small primary labeled icon button">
					<i class="plus icon"></i> Add Trajet
			</div>
		</a>
	  	<table class="ui celled table">
			<thead>
		        <tr>
		         	<th>Ville départ</th>
							<th>Ville arrivée</th>
							<th>Nombre kilomètres</th>
							<th>Date</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th></th>
		        </tr>
	      	</thead>
	      	<tbody>
			{% for trajet in trajets %}
				<tr>
					<td>{{trajet.villeDep}}</td>
					<td>{{trajet.villeArr}}</td>
					<td>{{trajet.nbKm}}</td>
					<td>{{trajet.date|date('Y-m-d H:i:s')}}</td>
					<td>{{trajet.nom}}</td>
					<td>{{trajet.prenom}}</td>
					<td>
						<div class="ui buttons">
							  <a href="showTrajet/{{trajet.id}}">
								  <div class="ui blue icon inverted button">
								  	<i class="ellipsis horizontal icon"></i>
								  </div>
							  </a>
								<a href="editTrajet/{{trajet.id}}">
								  <div class="ui yellow icon inverted button">
								  	<i class="edit icon"></i>
								  </div>
							  </a>
								<a href="deleteTrajet/{{trajet.id}}">
								  <div class="ui red icon inverted button">
								  	<i class="trash icon"></i>
								  </div>
							  </a>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endif %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('.ui.dropdown')
  			.dropdown();
	</script>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}
