{% extends 'FrontOfficeBundle::Default/frontOffice.html.twig' %}
{% set current = 'Trajet' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="ui container segment">
	  	<table class="ui celled table">
			<thead>
		        <tr>
		         	<th>Nombre kilomètres</th>
		         	<!--<th>Id ville arrivée</th>-->
		         	<!--<th>Id ville départ</th>-->
					<th>Date</th>
					<th>Username</th>
		        </tr>
	      	</thead>
	      	<tbody>
			{% for trajet in trajets %}
				<tr>
					<td>{{trajet.nbKm}}</td>
					<td>{{trajet.date|date('Y-m-d H:i:s')}}</td>
					<td>{{trajet.username}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}
