{% use 'semantic-ui-form-theme.html.twig' %}
{% extends 'BackOfficeBundle::Default/backOffice.html.twig' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="ui raised very padded text container segment">
		
		{{ form_start(form) }}
	
		<h4 class="ui dividing header">Ajout voiture</h4>
	  	<div class="two fields">
	    	<div class="field">
		      	<label>Identification</label>
		      	<div class="two fields">
		        	<div class="field">
	          		    {{ form_widget(form.marque, { 'attr': {'placeholder': "Marque"} }) }}
					</div>
		        	<div class="field">
		          		{{ form_widget(form.modele, { 'attr': {'placeholder': "Modele"} }) }}
		       		</div>
		      	</div>
	    	</div>
		</div>
		<div class="field">
			<label>Nombre de place(s)</label>
			{{ form_widget(form.nbPlaces, { 'attr': {'placeholder': "Nombre de place(s)"} }) }}
		</div>
	    <div class="ui submit">
	    	{{ form_widget(form.save) }}
	    </div>
	    
		{{ form_end(form) }}	
	</div>
	
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}