{% extends 'BackOfficeBundle::Voiture/read.html.twig' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="ui raised very padded text container segment">

		{{ form_start(form, {'attr':{'class':'ui form'}}) }}

		<h4 class="ui dividing header">Voiture</h4>
      	<div class="two fields">
        	<div class="field">
      		    <label>Marque</label>
      		    <div class="ui input">
      		    	{{ form_widget(form.marque, { 'attr': {'class':'ui fluid dropdown', 'placeholder':"Marque"} }) }}  
					<a href="{{ path('addMarque')}}"><button class="ui icon primary button"><i class="plus icon"></i></button></a>
      		    </div>
			</div>
        	<div class="field" >
        		<label>Modele</label>
          		{{ form_widget(form.modele, { 'attr': {'placeholder': "Modele"} }) }}
       		</div>
      	</div>
		
		<div class="field">
			<label>Nombre de place(s)</label>
			{{ form_widget(form.nbPlaces, { 'attr': {'placeholder': "Nombre de place(s)"} }) }}
		</div>

	    <div class="ui buttons">
	    	<a href="{{ path('readVoiture') }}">{{ form_widget(form.cancel, {'attr':{'class':'ui button'}} ) }}</a>
	    	<div class="or"></div>
	    	{{ form_widget(form.save, {'attr':{'class':'ui positive button'}} ) }}
	    </div>
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('.ui.dropdown')
  			.dropdown();
	</script>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}
