{% extends 'BackOfficeBundle::Default/backOffice.html.twig' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="ui container">
	  	<table class="ui celled table">
			<thead>
		        <tr>
			        <th>Id</th>
		         	<th>Marque</th>
		         	<th>Modèle</th>
		         	<th>Place(s)</th>
		        </tr>
	      	</thead>
	      	<tbody>
			{% for voiture in voitures %}
				<tr>
					<td>{{voiture.id}}</td>
					<td>{{voiture.marque}}</td>
					<td>{{voiture.modele}}</td>
					<td>{{voiture.nbPlaces}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}