{% extends 'BackOfficeBundle::Default/backOffice.html.twig' %}
{% set current = 'Inscription' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="ui container segment">
	  {{ form_start(form, {'attr':{'class':'ui form'}}) }}

      <h4 class="ui dividing header">Passager</h4>
          <div class="field">
            {{ form_widget(form.internaute, { 'attr': {'class': 'ui fluid search selection dropdown'} }) }}
          </div>
      <div class="ui buttons">
      <a href="{{ path('participant', {'id':id} ) }}">{{ form_widget(form.cancel, {'attr':{'class':'ui button'}} ) }}</a>
        <div class="or"></div>
       {{ form_widget(form.save, {'attr':{'class':'ui positive button'}} ) }}
      </div>

    {{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    $('.ui.dropdown')
        .dropdown();
  </script>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}