{% extends 'BackOfficeBundle::Default/backOffice.html.twig' %}
{% set current = 'Inscription' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}

{% if trajets == NULL %}
	<div class="ui raised very padded text container segment">
	  <h2 class="ui header">Pas de trajet libre</h2>
	</div>
{% else %}
	<div class="ui container segment">
	  	<table class="ui celled table">
			<thead>
		        <tr>
			        <th>Dep</th>
		         	<th>Arr</th>
		         	<th>Nb Place(s)</th>
		     		<th></th>
		        </tr>
	      	</thead>
	      	<tbody>
			{% for trajet in trajets %}
				<tr>
					<td>{{trajet.villeDep}}</td>
					<td>{{trajet.villeArr}}</td>
					<td>{{trajet.nbPlaces}}</td>
					<td></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}

{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}