{% extends 'BackOfficeBundle::Ville/read.html.twig' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="ui raised very padded text container segment">

		{{ form_start(form, {'attr':{'class':'ui form'}}) }}

		<h4 class="ui dividing header">Ajout ville</h4>
	  	<div class="two fields">
	    	<div class="field">
		      	<label>Ville</label>
		      	<div class="two fields">
		        	<div class="field">
	          		    {{ form_widget(form.ville, { 'attr': {'placeholder': "Ville"} }) }}
					</div>
		        	<div class="field">
		          		{{ form_widget(form.cp, { 'attr': {'placeholder': "Code postal"} }) }}
		       		</div>
		      	</div>
	    	</div>
		</div>
		<div class="ui buttons">
			<a href="readVille"><button class="ui button">Cancel</button></a>
			<div class="or"></div>
		 {{ form_widget(form.save, {'attr':{'class':'ui positive button'}} ) }}
		</div>

		{{ form_end(form) }}
	</div>

{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}
