{% extends 'BackOfficeBundle::Default/backOffice.html.twig' %}
{% set current = 'Ville' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block body %}

{% if villes == NULL %}

	<div class="ui raised very padded text container segment">
	  <h2 class="ui header">Pas de ville</h2>
	  	<a href="addVille">
			<div class="ui right floated small primary labeled icon button">
	  			<i class="plus icon"></i> Add Car
			</div>
		</a>
	</div>
{% else %}
	<div class="ui container segment">
	  	<table class="ui celled table">
			<thead>
		        <tr>
			        <th>Id</th>
		         	<th>Ville</th>
		         	<th>Code postal</th>
							<th>
		         		<a href="addVille">
			        		<div class="ui right floated small primary labeled icon button">
			          			<i class="plus icon"></i> Add City
			        		</div>
			        	</a>
		         	</th>
		        </tr>
	      	</thead>
	      	<tbody>
			{% for ville in villes %}
				<tr>
					<td>{{ville.id}}</td>
					<td>{{ville.ville}}</td>
					<td>{{ville.cp}}</td>
					<td>
						<div class="ui buttons">
						  <a href="editVille/{{ville.id}}">
							  <div class="ui yellow icon inverted button">
							  	<i class="edit icon"></i>
							  </div>
						  </a>
						  <a href="deleteVille/{{ville.id}}">
							  <div class="ui red icon inverted button">
							  	<i class="trash icon"></i>
							  </div>
						  </a>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}

{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}
